# Laravel
/src/laravel/.env
/src/laravel/node_modules
/src/laravel/vendor

# Storage (keep structure, ignore files)
/src/laravel/storage/*.key
/src/laravel/storage/framework/cache/*
/src/laravel/storage/framework/sessions/*
/src/laravel/storage/framework/views/*
/src/laravel/storage/logs/*

# Docker
.env
docker/*.log

# OS
.DS_Store
Thumbs.db

